<ion-view view-title="MENU!">

 <ion-content>
    
  <form ng-submit="Envoyer(data)">
    <label class = "item item-input item-select">
       <div class = "input-label">
          Jours :
       </div>
        
           <select ng-model="data.jour">
              <option value="s">Samedi</option>
              <option value="d">Dimanche</option>
              <option value="sd">Samedi et dimanche</option>
           </select>
    </label>

  <label class = "item item-input item-select">
     <div class = "input-label">
        A partir de :
     </div>
    
     <select ng-model="data.heure">
        <option ng-repeat="heure in heures" value="{{heure}}">{{heure}} h</option>
     </select>
     
  </label>

   </br>

    <div class="list">
        <button class="button button-positive">
          RECHERCHER
        </button>
    </div>
  </form>
  </ion-content>

</ion-view>